//---------------------------------------------------------------------------
//
// Name:        Projeto1App.rc
// Author:      LuisPaulo
// Created:     22/05/2015 20:19:40
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
